* {
    box-sizing: border-box;
    /* font family */
    font-family: "Roboto_condensed"
}

body {
    margin: 0;
    background-image: url(../img/fondo.jpg);
}

::-webkit-scrollbar {
    display: none;
    /*no mostrar barra scroll pero funciona*/
}


/*Barra de navegación*/

html {
    scroll-behavior: smooth;
}

.feed {
    padding: 5% 25% 0%;
}

.feed input {
    width: 100%;
    font-size: 1vw;
}

.sitio {
    padding: 2% 25% 0%;
}

.sitio h1 {
    font-size: 2vw;
    padding-left: 25%;
}

.seccion {
    font-size: 0.75vw;
    padding: 2% 25% 0%;
    border-top-width: 10px;
}

.seccion h2 {
    text-align: center;
}

.seccion a {
    color: black;
    text-align: center;
}

a:hover {
    color: blue;
}

h2:hover {
    color: blue;
}

.seccion img {
    width: 50%;
    display: block;
    margin: auto;
}

.seccion2 {
    background-color: #F3F3F3;
    padding: 3%;
}

.descripcion {
    font-size: 1vw;
}